<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas non, ut in delectus
      illo tempora expedita voluptate autem magnam, veritatis doloribus aperiam? Ad
      commodi aperiam, pariatur facilis praesentium odio ex! Soluta cum praesentium atque
      quo placeat odit dolorem nesciunt aliquam adipisci. Velit rerum consectetur totam
      corrupti soluta ducimus inventore repellendus!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium vitae minima
      rerum sit consectetur architecto cupiditate doloremque, quod sint doloribus
      repudiandae soluta quibusdam aliquid nesciunt. Voluptate numquam quos saepe ad,
      laudantium sapiente temporibus. Numquam nisi totam aperiam ipsa blanditiis nihil.
    </p>
  </body>
</html>
